apiVersion: config.openshift.io/v1
kind: ClusterOperator
metadata:
  name: control-plane-machine-set
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
spec: {}
status:
  versions:
    - name: operator
      version: "0.0.1-snapshot"
  relatedObjects:
  - group: ""
    name: openshift-machine-api
    resource: namespaces
  - group: machine.openshift.io
    name: ""
    resource: controlplanemachinesets
  - group: machine.openshift.io
    name: ""
    resource: machines
